<nav class="onder-light">
{%- if site.show-style-guide %}
	<div class="container">
		<div class="row">
			<div class="p-4 col-lg-3 col-md-3 col-sm-12">
				<h5 class="mb-4">About Us</h5>
				<a href="#" style="color: #FE772E;">About</a>
				<br>
				<a href="#" style="color: #FE772E";>Mission</a>
				<br>
				<a href="#" style="color: #FE772E";>News</a>
			</div>
			<div class="p-4 col-lg-3 col-md-3 col-sm-12">
				<h5 class="mb-4">Practical</h5>
				<ul class="list-unstyled">
					<a href="./index.html" style="color: #FE772E;">Disclaimer</a>
				<br>
					<a href="./product.html" style="color: #FE772E;">Shipping</a>
				<br>
					<a href="./overons.html" style="color: #FE772E;">Terms Of Use</a>
				</ul>
			</div>
			<div class="p-4 col-lg-3 col-md-3 col-sm-12">
				<h5 class="mb-4">Contact</h5>
				<ul class="list-unstyled">
					<a href="tel: 0494897658" style="color: #FE772E;"><i class="fa d-inline mr-3 fa-phone"></i>0494 89 76 58</a>
				<br>
				 	<a href="mailto:info@soccershoerent.com" style="color: #FE772E;"><i class="fa d-inline mr-3 fa-envelope-o"></i>info@cloudmates.com</a>
				<br>
					<a href="https://www.google.it/maps/place/Spiegelhofstraat,+9000+Gent/@51.0532145,3.7012822,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3716de039bb69:0xf685d61aac77b635!8m2!3d51.0532111!4d3.7034709?hl=it" target="_blank" style="color: #FE772E;"><i class="fa d-inline mr-3 fa-map-marker"></i>Spiegelhofstraat 42, Gent</a>
				</ul>
			</div>

			<div class="p-4 col-lg-3 col-md-3 col-sm-12">
					<h5 class="mb-4">Follow Us</h5>
					<div class="socialmedia">
						<a href="https://www.facebook.com" class="fb-button"></a>
						<a href="https://www.twitter.com" class="tw-button"></a>
						<a href="https://www.instagram.com" class="instagram-button"></a>
					</div>
				</div>
	

		</div>
	</div>
{%- endif %}
</nav>